@import './variables.scss';

.about {
  margin-top: 96px;

  p {
    color: $about-page-text;
  }

  h1,
  h2,
  h6,
  .h0 {
    color: $about-page-heading;
  }
}

.about__heading,
.about__eco-products,
.about__numbers,
.about__ideas,
.about__design-factories {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2.4rem;
  grid-template-rows: repeat(2, auto);
}

.about__heading {
  row-gap: 3.2rem;

  .about__heading-text {
    grid-column: 1/7;
    grid-row: 1/2;
  }

  .about__heading-img-wrapper {
    grid-row: 2/3;
    grid-column: 1/13;

    .about__heading-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}

.about__eco-products {
  row-gap: 12rem;
  margin-top: 9.5rem;
  margin-bottom: 12.8rem;
  padding-top: 4.8rem;
  border-top: 1px solid $gray200;

  .about__eco-products-heading {
    grid-column: 1/8;
    grid-row: 1/2;
  }

  .about__eco-products-caption {
    grid-column: 8/13;
    grid-row: 2/3;
    color: $gray700;
  }
}

.about__ideas {
  margin-top: 16.4rem;
  grid-template-rows: auto;
  align-items: center;

  .about__ideas-text {
    grid-column: 1/7;
  }

  .about__ideas-list {
    margin-bottom: 4rem;
  }

  .about__ideas-item {
    display: flex;
    align-items: start;
    gap: 20px;
    padding: 4.8rem 0;
    border-bottom: 1px solid $gray200;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .about__ideas-item-idx {
    font-family: 'nunito_sansregular', sans-serif;
    color: $orange;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  .about__ideas-team {
    margin-bottom: 2.4rem;
  }

  .about__ideas-img {
    grid-column: 8/13;
  }
}

.about__design-factories {
  margin-top: 18rem;
  grid-template-rows: auto;
  row-gap: 1.6rem;

  .about__design-factories-heading {
    grid-column: 1/7;
    grid-row: 1/2;
  }

  .about__design-factories-text {
    grid-column: 1/13;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    gap: 7.2rem;
    padding-right: 5.5vw;
  }
}

.about__design-factories-slider {
  margin-top: 8rem;
}

.about__design-factory-swiper-item {
  height: clamp(244px, 37.75vw, 604px);
}

.about__team-slider {
  margin-top: 16.1rem;

  .about__team-slider-item {
    height: clamp(420px, 33vw, 604px);
  }

  .about__team-slider-heading {
    margin-bottom: 3.6rem;
  }

  .about__team-slider-img {
    border-radius: 8px !important;
  }

  .about__team-slider-desc {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

//MOBILE
//MOBILE
//MOBILE
@media (max-width: 768px) {
  .about__heading,
  .about__eco-products,
  .about__numbers,
  .about__ideas,
  .about__design-factories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    grid-template-rows: repeat(2, auto);
  }

  .about__heading {
    row-gap: 8rem;

    .about__heading-text {
      grid-column: 1/5;
      grid-row: 1/2;
    }

    .about__heading-img-wrapper {
      grid-column: 1/5;
      grid-row: 2/3;
      height: 145rem;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
    }
  }

  .about__eco-products {
    row-gap: 4rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
    padding-top: 4rem;

    .about__eco-products-heading {
      grid-column: 1/5;
      grid-row: 1/2;
    }

    .about__eco-products-caption {
      grid-column: 1/5;
      grid-row: 2/3;
    }
  }

  .about__ideas {
    margin-top: 20rem;
    align-items: start;
    row-gap: 6rem;

    .about__ideas-text {
      grid-column: 1/5;
      grid-row: 2/3;
    }

    .about__ideas-list {
      margin-bottom: 6rem;
    }

    .about__ideas-item {
      display: flex;
      align-items: start;
      gap: 3rem;
      padding: 4rem 0;
    }

    .about__ideas-team {
      margin-bottom: 4rem;
    }

    .about__ideas-img {
      grid-column: 1/5;
      grid-row: 1/2;
    }
  }

  .about__design-factories {
    margin-top: 35rem;
    row-gap: 4rem;

    .about__design-factories-heading {
      grid-column: 1/5;
      grid-row: 1/2;
    }

    .about__design-factories-text {
      grid-column: 1/5;
      grid-row: 2/3;
      flex-direction: column;
      justify-content: start;
      gap: 4rem;
    }
  }

  .about__design-factories-slider {
    margin-top: 6rem;
    margin-left: 4rem;
  }

  .about__team-slider {
    margin-top: 10rem;
    margin-left: 4rem;

    .about__team-slider-heading {
      margin-bottom: 4rem;
    }

    .about__team-slider-desc {
      margin-top: 3rem;
      gap: 1rem;
    }
  }
}
