@import './variables.scss';

.contacts-hero {
  margin-top: 4.4rem;
  padding-bottom: 7rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $gray200;
  h1 {
    grid-column: 1/6;
  }
}

.contacts-communication-links {
  flex-wrap: wrap;
  margin-top: 2.8rem;
  display: flex;
  gap: 4.8rem;
}

.contacts-communication-links__block {
  .caption-1 {
    margin-bottom: 2rem;
  }

  .contacts-communication-links__block_number {
    margin-bottom: 0.4rem;
  }

  .contacts-communication-links__block_email {
    display: inline;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $gray900;
    transition: all 0.3s ease-in;
  }

  .contacts-communication-links__block_email:hover {
    color: $green;
    border-bottom: 1px solid $green;
    transition: all 0.3s ease-in;
  }
}

.contacts-form-wrapper {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.4rem;
}

.contacts-form__form {
  grid-column: 1/6;
  p {
    margin-top: 2rem;
    margin-bottom: 2.8rem;
  }
}

.map-iframe-wrapper {
  grid-column: 7/13;
  width: 100%;
  max-height: 68.8rem;
  height: 100%;
}

//MOBILE
//MOBILE
//MOBILE
@media (max-width: 768px) {
  .contacts-hero {
    display: block;
    padding: 12rem 0;
  }

  .contacts-communication-links-wrapper {
    margin-top: 6rem;
  }

  .contacts-communication-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8rem;
    column-gap: 2rem;
  }

  .contacts-communication-links {
    margin-top: 7rem;
  }

  .contacts-form-wrapper {
    margin-top: 10rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .map-iframe-wrapper {
    min-height: 86rem;
  }

  .contacts-form__form {
    margin-top: 15rem;
    p {
      margin-top: 3rem;
      margin-bottom: 6rem;
    }
  }
}
