@import './variables.scss';

.contacts-hero {
  margin-top: 4.4rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.4rem;

  h1 {
    grid-column: 1/6;
  }
}

.contacts-communication-links {
  margin-top: 2.8rem;
  display: flex;
  gap: 4.8rem;
}

.contacts-communication-links__block {
  .caption-1 {
    margin-bottom: 2rem;
  }

  .contacts-communication-links__block_number {
    margin-bottom: 0.4rem;
  }

  .contacts-communication-links__block_email {
    display: inline;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $gray900;
  }
}

.contacts-form-wrapper {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.4rem;
}

.contacts-form__form {
  grid-column: 1/6;
  p {
    margin-top: 2rem;
    margin-bottom: 2.8rem;
  }
}

.map-iframe-wrapper {
  grid-column: 7/13;
  width: 100%;
  max-height: 68.8rem;
  height: 100%;
}
