@import './variables.scss';

.form-radio-btn label {
  background-color: white;
}

.drop-down__button {
  display: inline-block;
  cursor: pointer;
  padding: 8px 20px;
  line-height: 24px;
  border: 1px solid $gray5;
  border-radius: 20px;
  user-select: none;
  position: relative;
  z-index: 20;
}

.drop-down__button_open {
  background-color: white;
}

.drop-down__button_close {
  background-color: $gray100;
}

.drop-down__custmo-radio-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 100%;
  z-index: 10;
  display: block !important;
  padding: 8px 0 0;
}

.drop-down__custom-radio {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown__wrapper {
  position: relative;
}

.dropdown__label {
  align-items: center;
}

.dropdown__label_down svg {
  transition: transform 0.3s ease-in;
  transform: rotate(0.5turn);
}

.dropdown__label_up svg {
  transition: transform 0.3s ease-in;
}

.dropdown__text {
  margin-right: 5.2rem;
}

.custom-radio-button_close {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.custom-radio-button_open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
