@import './variables.scss';

.accordion-pure-wrapper {
  gap: 2.8rem;
  display: flex;
  justify-content: space-between;
  margin-right: 4.8rem;
  padding-top: 30px;
  padding-bottom: 32px;
  border-top: 1px solid $gray200;
  border-bottom: 1px solid $gray200;

  .accordion-pure__content-wrapper {
    gap: 2.8rem;
    display: flex;
    width: 80%;
  }

  .accordion-pure__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease-in;

    p {
      padding-top: 12px;
      margin: 0;
      opacity: 0;
      transition: 2s;
    }

    &.is-expanded {
      max-height: 500px;
      overflow: hidden;
      p {
        opacity: 1;
      }
    }
  }
}


@media (max-width: 768px) {
  .accordion-pure-wrapper {
    margin-right: 0;

    .accordion-pure__content-wrapper {
      gap: 4rem;
      display: flex;
      width: 80%;
    }
  
  }
  
}
