.swiper {
  padding-right: clamp(32px, 6.25vw, 150px) !important;
}

.slider-slide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

.custom-swiper-wrapper {
  margin-left: clamp(32px, 6.25vw, 150px);
}

//MOBILE
//MOBILE
//MOBILE
@media (max-width: 768px) {
  .swiper {
    padding-right: 4rem;
  }

  .custom-swiper-wrapper {
    margin-left: 0;
  }
}
