@import './variables.scss';

.filters-container {
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-container__filters {
  gap: 16px;
  align-items: center;
  display: flex;
}

.filter-container__amount {
  margin-left: 16px;
  color: $gray400;
}

.filter-container-swiper-quality {
  max-width: calc(100vw - 320px);
  height: 100px;
  margin-bottom: -58px;
  .swiper-slide {
    width: unset !important;
  }
}

@media (min-width: 1400px) {
  .filter-container-swiper-quality {
    max-width: 1080px;
  }
}

//MOBILE
//MOBILE
//MOBILE
@media (max-width: 768px) {
  .filter-container__amount {
    display: none;
  }

  .filter-container-swiper-quality {
    max-width: calc(100vw - 134px);
  }
}
