@import './variables.scss';

.accordion-technologies-wrapper {
  gap: 2.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 4.8rem;
  padding-top: 30px;
  padding-bottom: 32px;
  border-top: 1px solid $gray200;
  border-bottom: 1px solid $gray200;

  .accordion-technologies__content-wrapper {
    gap: 7rem;
    display: flex;
    justify-content: space-between;
  }

  .accordion-technologies_img {
    border-radius: 4px;
    margin-top: 20px;
  } 

  .accordion-technologies__image-wrapper {
    gap: 4.25rem;
    display: flex;
    justify-content: space-between;
    min-width: 50%;
  }

  .content {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease-in;

    p {
      padding-top: 12px;
      margin: 0;
      opacity: 0;
      transition: 2s;
    }

    &.is-expanded {
      max-height: 500px;
      overflow: hidden;
      p {
        opacity: 1;
      }
    }
  }
}


@media (max-width: 768px) {
  .accordion-pure-wrapper {
    margin-right: 0;

    .accordion-pure__content-wrapper {
      gap: 4rem;
      display: flex;
    }
  }
}
