@import './variables.scss';

.drop-down__arrow-img {
  margin-left: 5.5rem;
}

.drop-down__button {
  display: inline-block;
  cursor: pointer;
  padding: 0.8rem 2rem;
  line-height: 24px;
  border: 1px solid $gray5;
  border-radius: 20px;
  user-select: none;
}

.drop-down__button_open {
  background-color: white;
}

.drop-down__button_close {
  background-color: $gray100;
}

.drop-down__custom-radio {
  position: absolute;
  top: 5rem;
}

.dropdown__wrapper {
  position: relative;
}
