@import './variables.scss';

.custom-text-area {
  border-radius: 4px;
  padding: 16px;
  overflow: hidden;
  height: 170px;
  width: 100%;
  color: $gray500;
  border: 1px solid $gray300;
}

.custom-text-area__text {
  font-size: 20px;
}

.custom-text-area:hover {
  color: $gray900;
  border: 1px solid $gray600;
  transition: all 0.3s ease-in;
}

.custom-text-area:active {
  color: $gray900;
  border: 1px solid $gray600;
  transition: all 0.3s ease-in;
}

.custom-text-area__full-field {
  color: $gray900;
  transition: all 0.3s ease-in;
}

@media (max-width: 768px) {
  .custom-text-area {
    height: 120px;
  }
}
