@import './variables.scss';

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid $gray200;
}

.accordion-title,
.accordion-content {
  padding: 1.6rem 1.2rem 1.6rem 0;
}

.accordion-arrow {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
