@import './variables.scss';

.custom-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-button {
  margin-top: 12px;
  max-width: 27.6rem;
  padding: 16px 0;
}

//MOBILE
//MOBILE
//MOBILE
@media (max-width: 768px) {
  .custom-form-wrapper {
    gap: 0;

    .custom-text-field:nth-child(2n) {
      margin: 20px 0;
    }
  }

  .form-button {
    max-width: 100%;
  }
}
