@import './variables.scss';

.accordion-wrapper {
  width: 100%;

  &:nth-child(even) {
    padding: 16px 0;
    border-top: 1px solid $gray200;
    border-bottom: 1px solid $gray200;
    margin: 16px 0;
  }

  .accordion-tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s ease-out;

    p {
      padding-top: 12px;
      margin: 0;
      opacity: 0;
      transition: 2s;
    }

    &.is-opened {
      max-height: 500px;
      overflow: hidden;
      transition: max-height 2s ease-out;
      p {
        opacity: 1;
      }
    }
  }

  .arrow-container {
    display: inline-block;
    cursor: pointer;
  }

  .accordion-arrow_open svg {
    transform: rotate(90deg);
    fill: $green;
    transition: all 0.3s ease-out;
  }

  .accordion-arrow_close svg {
    fill: $gray600;
    transition: all 0.3s ease-out;
  }
}
