@import './variables.scss';

.accordion-technologies-wrapper {
  gap: 2.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 32px;
  border-top: 1px solid $gray200;
  border-bottom: 1px solid $gray200;

  &:last-child {
    border-bottom: none;
  }

  .accordion-technologies__title {
    .accordion-tab-numerable__arrow-container {
      display: none;
    }
  }

  .accordion-technologies__content-wrapper {
    gap: 7rem;
    display: flex;
    justify-content: space-between;
  }

  .accordion-technologies_img {
    border-radius: 4px;
    margin-top: 20px;
  }

  .accordion-technologies__image-wrapper {
    gap: 4.25rem;
    display: flex;
    justify-content: space-between;
    min-width: 50%;
  }

  .content {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease-in;

    p {
      padding-top: 12px;
      margin: 0;
      opacity: 0;
      transition: 2s;
    }

    &.is-expanded {
      max-height: 500px;
      overflow: hidden;
      p {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .accordion-technologies-wrapper {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    .accordion-technologies__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .accordion-technologies__title-text {
        font-size: 20px;
        line-height: 120%;
      }

      .accordion-tab-numerable__arrow-container {
        display: block;
        margin-left: 16px;
      }
    }

    .accordion-technologies__content-wrapper {
      gap: 7rem;
      display: flex;
      justify-content: space-between;
    }

    .accordion-technologies_img {
      border-radius: 4px;
      margin-top: 20px;
    }

    .accordion-technologies__image-wrapper {
      display: block;
      margin-top: 12px;

      .accordion-tab-numerable__arrow-container {
        display: none;
      }
    }

    .content {
      word-wrap: break-word;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.8s ease-in;

      p {
        padding-top: 12px;
        margin: 0;
        opacity: 0;
        transition: 2s;
      }

      &.is-expanded {
        max-height: 500px;
        overflow: hidden;
        p {
          opacity: 1;
        }
      }
    }
  }
}
