@import './variables.scss';

@font-face {
  font-family: 'nunito_sansbold';
  src: url('../public/fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansregular';
  src: url('../public/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sanssemibold';
  src: url('../public/fonts/NunitoSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input {
  outline: none;
}

textarea {
  resize: none;
}

html,
body {
  font-size: 10px;
  // overflow-x: hidden;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 4px;
  }
}

.h0 {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 9.6rem;
  line-height: 70%;
}

h1 {
  font-family: 'nunito_sansbold', sans-serif;
  font-size: 6.4rem;
  line-height: 100%;
}

h2 {
  font-family: 'nunito_sansbold', sans-serif;
  font-size: 4.8rem;
  line-height: 120%;
}

h3 {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 4.8rem;
  line-height: 120%;
}

h4 {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 3.6rem;
  line-height: 120%;
}

h5 {
  font-family: 'nunito_sansbold', sans-serif;
  font-size: 3.2rem;
  line-height: 120%;
}

h6 {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 2.4rem;
  line-height: 120%;
}

.text-1 {
  font-family: 'nunito_sansregular', sans-serif;
  font-size: 2rem;
  line-height: 150%;
}

.text-2 {
  font-family: 'nunito_sansregular', sans-serif;
  font-size: 2.4rem;
  line-height: 150%;
}

.text-3 {
  font-family: 'nunito_sansregular', sans-serif;
  font-size: 4.8rem;
  line-height: 120%;
}

.text-4 {
  font-family: 'nunito_sansregular', sans-serif;
  font-size: 4rem;
  line-height: 130%;
}

.caption-1 {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 2.4rem;
  line-height: 150%;
}

.caption-2 {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 2rem;
  line-height: 150%;
}

.btn-text {
  font-family: 'nunito_sansbold', sans-serif;
  font-size: 2rem;
  line-height: 120%;
}

.btn-text-2 {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
}

.btn-link {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 2.4rem;
  line-height: 120%;
}

.link-text {
  font-family: 'nunito_sansregular', sans-serif;
  font-size: 1.6rem;
  line-height: 140%;
}

.card-caption {
  font-family: 'nunito_sansregular', sans-serif;
  font-size: 1.6rem;
  line-height: 120%;
  color: $gray500;
}

.tag-text {
  font-family: 'nunito_sansregular', sans-serif;
  font-size: 2rem;
  line-height: 120%;
}

.card-accard {
  font-family: 'nunito_sansregular', sans-serif;
  font-size: 2.8rem;
  line-height: 120%;
}

.text-numbers {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 7.2rem;
  line-height: 98px;
  color: $green;
}

.text-numbers-big {
  font-family: 'nunito_sanssemibold', sans-serif;
  font-size: 14.4rem;
  line-height: 136%;
}

.d-flex {
  display: flex;
}

.container {
  padding: 0 clamp(32px, 6.25vw, 150px);
}

button,
button:active,
button:focus {
  outline: none;
}

img {
  // width: 100%;
  // height: 100%;
  // object-fit: cover;
  // object-position: 50% 50%;
}

@media (max-width: 768px) {
  .h0 {
    font-family: 'nunito_sanssemibold', sans-serif;
    font-size: 9.6rem;
    line-height: 70%;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 7rem;
  }

  h3 {
    font-size: 9rem;
  }

  h4 {
    font-size: 6rem;
  }

  h5 {
    font-size: 5rem;
  }

  h6 {
    font-size: 4rem;
  }

  .text-1 {
    font-size: 3.5rem;
  }

  .text-2 {
    font-size: 4rem;
    line-height: 150%;
  }

  .text-3 {
    font-size: 8rem;
  }

  .caption-1 {
    font-size: 4rem;
  }

  .caption-2 {
    font-size: 4rem;
  }

  .btn-text {
    font-size: 5rem;
  }

  .btn-link {
    font-size: 5rem;
  }

  .link-text {
    font-size: 3.5rem;
  }

  .card-caption {
    font-size: 3.5rem;
    line-height: 120%;
  }

  .tag-text {
    font-size: 5rem;
  }

  .card-accard {
    font-size: 5rem;
  }

  .text-numbers {
    font-size: 10rem;
    line-height: 13.75rem;
  }

  .text-numbers-big {
    font-size: 10rem;
    line-height: 13.75rem;
  }

  .container {
    padding: 0 4rem;
  }
}
