@import './variables.scss';

.header__outline-wrapper {
  border-bottom: 1px solid $gray200;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.header-links__wrapper {
  display: flex;
  align-items: center;
}

.header__sanovo-label {
  margin-left: 1.6rem;
}

.header__links {
  display: flex;
  gap: 2.4rem;
  margin-left: 3.6rem;
}

.header__controls-panel {
  gap: 2rem;
  display: flex;
  align-items: center;
}
