@import './variables.scss';

.product-card__main-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.product-card__image-block {
  width: 688px;
  height: 624px;
  background-color: $gray5;
}

.product-card__image {
  width: 100%;
  height: 100%;
}

.product-card__product-name {
  margin: 4px 0 16px 0;
}
