$orange: #ff6600;
$green: #84bd00;
$gray900: #18181b;
$gray800: #27272a;
$gray700: #3f3f46;
$gray600: #52525b;
$gray500: #71717a;
$gray400: #a1a1aa;
$gray300: #d4d4d8;
$gray200: #e4e4e7;
$gray100: #f4f4f5;
$gray50: #fafafa;
$gray5: #e0e0e0;
