@import './variables.scss';

.catalog-page {
  margin-top: 64px;

  .catalog-page__heading {
    border-bottom: 1px solid $gray200;
    padding-bottom: 7.2rem;
  }

  .catalog-page__download-link {
    margin-top: 2.4rem;
    display: inline-flex;
    align-items: center;
    color: $green;
    cursor: pointer;

    &:hover {
      color: $orange;
    }

    &:hover .catalog-page__download-arrow {
      fill: $orange;
    }
  }

  .catalog-page__download-arrow {
    fill: $green;
  }

  .catalog-page__chosen-filters-list {
    border-top: 1px solid $gray200;
    padding-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    height: 50px;

    .catalog-page__chosen-filter {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      padding: 8px 20px;
      border-radius: 20px;
      border: 1px solid $green;
      cursor: pointer;
    }
  }

  .catalog-page__products-list {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    .catalog-page__products-item-img {
      border-radius: 8px;
      overflow: hidden;
    }
  }
}

@media (max-width: 768px) {
  .catalog-page {
    margin-top: 32px;

    .catalog-page__heading {
      padding-bottom: 8rem;
    }

    .catalog-page__download-link {
      margin-top: 4rem;
    }

    .catalog-page__chosen-filters-list {
      border-top: 1px solid $gray200;
      padding-top: 1.6rem;
      display: flex;
      align-items: center;
      gap: 1.6rem;

      .catalog-page__chosen-filter {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        border-radius: 20px;
        border: 1px solid $green;
        cursor: pointer;
      }
    }

    .catalog-page__products-list {
      margin-top: 8rem;
      grid-template-columns: 1fr;
      gap: 8rem;
    }
  }
}

.filter-transition-enter {
  opacity: 0;
  transform: scale(0.9);
}

.filter-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.filter-transition-exit {
  opacity: 1;
}

.filter-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
